td,
tr {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(73, 73, 73, 0.452);



}

table {

    margin: 12px;
    padding: 12px;
    border-collapse: separate;
    border-spacing: 10px;

}